In [2]:
import matplotlib.pyplot as plt 
import pandas as pd

In [3]:
df = pd.read_csv('Dataset_to_plot.csv')
df.head(10)

,Unnamed: 0,index,Movie,P_Genre,S_Genre,T_Genre,Cluster_Id
0,0,0,thor: love and thunder,0,1,4,195
1,1,1,the boys,0,11,6,15
2,2,2,the umbrella academy,0,1,4,195
3,3,3,minions: the rise of gru,5,1,4,9
4,4,4,westworld,3,12,3,152
5,5,5,doctor strange in the multiverse of madness,0,1,7,5
6,6,6,ms. marvel,0,1,4,195
7,7,7,jurassic world dominion,0,1,3,4
8,8,8,obi-wan kenobi,0,1,3,4
9,9,9,star trek: strange new worlds,0,1,3,4

In [9]:
import numpy as np

In [13]:
len(df['Cluster_Id'].unique())

73

In [14]:
colors = np.random.rand(len(df['Cluster_Id'].unique()))

In [22]:
u_clusters = np.unique(df['Cluster_Id'])
u_clusters

array([  0,   1,   3,   4,   5,   6,   7,   8,   9,  11,  12,  14,  15,
        16,  19,  20,  21,  23,  24,  25,  26,  27,  28,  29,  34,  36,
        37,  38,  39,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,
        51,  52,  53,  54,  55,  56,  57,  58,  59,  61,  64,  65,  66,
        67,  70, 100, 107, 108, 111, 115, 120, 121, 125, 145, 152, 153,
       160, 161, 172, 174, 179, 189, 194, 195], dtype=int64)